<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="bootstrap-5.1.1-dist\css\bootstrap.min.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/user/nav.css" />
    <link rel="stylesheet" href="/css/user/landing-page.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="bootstrap-5.1.1-dist\js\bootstrap.bundle.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../../font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.1/umd/popper.min.js"
      integrity="sha512-8jeQKzUKh/0pqnK24AfqZYxlQ8JdQjl9gGONwGwKbJiEaAPkD3eoIjz3IuX4IrP+dnxkchGUeWdXLazLHin+UQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
    />
    <script src="bootstrap-5.1.1-dist\js\bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Landing Page</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
      <div class="title-beranda">
        <a class="navbar-brand" href="beranda.html">
          <img src="../../assets/logo.png" alt="" width="70" />
        </a>
        <a
          class="navbar-brand"
          aria-current="page"
          href="/view/admin/beranda.html"
          >SI - DILAN</a
        >
      </div>
      <div class="main-nav">
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <a href="../user/beranda-user.html" class="nav-item nav-link"
              >Beranda</a
            >
            <a href="../user/tugas-belajar.html" class="nav-item nav-link"
              >Tugas Belajar</a
            >
            <a href="../user/izin-belajar.html" class="nav-item nav-link"
              >Izin Belajar</a
            >
            <a href="../user/pengajuanku.html" class="nav-item nav-link"
              >Pengajuanku</a
            >
          </ul>
        </div>
      </div>
      <div class="account-nav">
        <a href="../user/beranda-user.html">
          <button
            type="submit"
            id="log"
            class="btn btn-success"
            style="width: 150px"
          >
            Masuk
          </button>
        </a>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- Main Content -->
    <main class="d-flex justify-content-center align-items-center">
      <div class="dir">
        <img src="../../assets/pak syam.png" alt="" />
      </div>
      <div class="back">
        <img src="../../assets/back.png" alt="" />
      </div>
      <div class="desc">
        <p>
          SI- DILAN adalah laman khusus pegawai Aparatur Sipil Negara (ASN) RSUD
          Siti Fatimah Provinsi Sumatera Selatan yang berisi informasi terkait
          tentang pengajuan pendidikan berkelanjutan dalam hal ini Izin Belajar
          dan Tugas Belajar sehingga mampu menyediakan SDM Rumah Sakit yang
          profesional dan berkualitas dalam peningkatan mutu pelayanan Rumah
          Sakit
        </p>
      </div>
      <div class="text-detail">
        <h3>dr. Syamsuddin Isaac SM, Sp.OG</h3>
        <h4>Direktur RSUD Siti Fatimah</h4>
      </div>
    </main>
    <!-- Main Content -->

    <!-- Footer -->
    <footer
      class="text-center text-lg-start text-muted"
      style="background-color: #4e4e4e"
    >
      <section>
        <div class="container text-light text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h5 class="text-uppercase fw-bold mb-4 text-left">
                <b>Tentang Kami</b>
              </h5>
              <p class="desc text-justify">
                SI-DILAN merupakan website khusus pegawai didalam rumah sakit
                Siti Fatimah yang digunakan dalam rangka mengembangkan mutu dan
                kualitas dari pegawai agar bisa membuat rumah sakit bisa
                bersaing dengan rumah sakit se-Indonesia
              </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-left">
              <h5 class="text-uppercase fw-bold mb-4">
                <b>Navigasi</b>
              </h5>
              <p>
                <a href="../user/beranda-user.html" class="text-reset"
                  >Beranda</a
                >
              </p>
              <p>
                <a href="../user/tugas-belajar.html" class="text-reset"
                  >Tugas Belajar</a
                >
              </p>
              <p>
                <a href="../user/izin-belajar.html" class="text-reset"
                  >Izin Belajar</a
                >
              </p>
              <p>
                <a href="../user/pengajuanku.html" class="text-reset"
                  >Pengajuanku</a
                >
              </p>
            </div>

            <div
              class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-left"
            >
              <h5 class="text-uppercase fw-bold mb-4">
                <b>Hubungi Kami</b>
              </h5>
              <p class="d-flex align-items-center">
                <span class="material-icons-round mr-2">call</span
                >&nbsp;(+62)8117117929
              </p>
              <p class="d-flex align-items-center">
                <span class="material-icons-round mr-2">email</span
                >&nbsp;sdm.rsudsumsel@gmail.com
              </p>
              <p class="d-flex text-justify">
                <span class="material-icons-round mr-2">pin_drop</span>Jl. Kol.
                H. Burlian, Suka Bangun, Kec. Sukarami, Kota Palembang, Sumatera
                Selatan 30151
              </p>
            </div>
          </div>
        </div>
      </section>

      <div class="text-center p-4 text-light border-top">
        All Right Reserved ©
        <a class="text-reset fw-bold" style="color: #81afd8" href="#"
          >IT Team RSUD SF Kampus Merdeka 2021</a
        >
      </div>
    </footer>
    <!-- Footer -->
    <script>
      var btn = document.getElementById("log");
      btn.onclick = function () {
        btn.style.background = "#198754";
      };
    </script>
  </body>
</html>
