body {
  background-color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .card {
  width: 70%;
  padding: 30px;
  border-radius: 20px;
  margin-top: 40px;
}
main .card .card-body .card-title {
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  margin-left: 20px;
}
main .card .card-body .table {
  text-align: center;
}
main .card .card-body hr {
  width: 100%;
}
main .card .card-body h6 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 20px;
}
#add-info {
  width: 200px !important;
  margin-bottom: 20px;
  margin-left: 20px;
}
.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: rgb(250, 250, 250);
}
.card .card-body .table a {
  color: inherit;
  text-decoration: underline;
}
.btn {
  width: 100px;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #197e50;
}
.btn-success {
  background-color: #198754;
}
a:hover {
  color: inherit;
}
#page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: white;
  font-weight: 600;
  border-top: solid 1px rgb(221, 221, 221);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 40px;
}
