<form action="http://127.0.0.1:3000/admin/logIn" method="post">
    <h1>Admin Log In</h1>
    <label for="">NIP</label>
    <input type="text" name="nip" value="admin">
    <br>
    <label for="">Passwords</label>
    <input type="text" name="passwords" value="12345678">
    <br>
    <button type="submit">Submit</button>
</form>