<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/permission/apply" method="post">
        <h1>Permission</h1>
        <h2>Application Form</h2>
        <div>
            <label for="">Institution Name</label>
            <input type="text" name="institution_name">
        </div>
        <div>
            <label for="">Acreditation</label>
            <input type="text" name="acreditation">
        </div>
        <div>
            <label for="">Institution Address</label>
            <input type="text" name="institution_address">
        </div>
        <div>
            <label for="">Institution Phone Number</label>
            <input type="text" name="institution_phone_number">
        </div>
        <div>
            <label for="">Education Level</label>
            <input type="text" name="education_level">
        </div>
        <div>
            <label for="">Study Program</label>
            <input type="text" name="study_program">
        </div>
        <div>
            <label for="">Major</label>
            <input type="text" name="major">
        </div>
        <div>
            <label for="">Year of Study</label>
            <input type="text" name="year_of_study">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>